* {
    /* resets the spacing between the card-head and card-body */
    margin: 0;
    padding: 0;
    outline: none;
}
  
.container {
    width: 300px;
    height: 575px;
    margin: 30px auto;
}

.card {
    border-radius: 25px;
    border: 1px solid #353535;
    box-shadow: 11px 11px 1px rgba(0, 0, 0, 0.3);
}

.card-head {
    position: relative;
    height: 265px;
    background: #296cc8;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #43cea2, #185a9d);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #43cea2, #185a9d);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #43cea2, #185a9d);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#43cea2', endColorstr='#185a9d', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 25px 25px 0 0;
}

.animal-img {
    /*img is 150px because it would be to big for the card visually*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    object-fit: cover;
}

.animal-detail {
    padding: 15px;
    font-size: 11px;
    color: #fff;
    text-align: center;
}

.animal-detail h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.animal-detail p {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
    font-style: italic;
}

.card-body {
    background: #fff;
    border-radius: 0 0 25px 25px;
    border: 1px solid white;
}

.animal-title h1 {
    padding: 20px 20px 5px 20px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.badge {
    position: relative;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    background: #43cea2;
    padding: 2px 5px;
    border-radius: 4px;
    top: -2px;
    margin-left: 5px;
}

.animal-caption {
    display: block;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
}

.animal-info h4 {
    font-size: 12px;
    padding: 0 21px;
    margin-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

ul {
    list-style: none;
    font-size: 12px;
    padding: 0 30px;
}

.labels {
    font-weight: 700;
    text-transform: uppercase;
    color: #404040;
}

.animal-discription h4 {
    font-size: 12px;
    padding: 0 21px;
    margin-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.animal-discription p {
    font-size: 12px;
    padding: 0 28px;
}
